body {
  font-family: "Nunito";
  background-color: rgb(238, 240, 245);
}
.main {
  width: 75%;
  margin: auto;
}
.header {
  background-color: #fff;
  height: 75px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: red;
  font-size: 30px;
  font-weight: 800;
  margin-left: 20px;
}
.nav-links {
  display: flex;
}
li {
  list-style: none;
  margin-right: 10px;
}
.head-section {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-div {
  background-color: #fff;
  height: 300px;
  border-radius: 5px;
  width: 30%;
  padding: 25px;
}

.form-element {
  margin-top: 15px;
  margin-bottom: 15px;
}
.heading {
  width: 65%;
}
.input {
  width: 100%;
  overflow: hidden;
  line-height: 2;
  margin-top: 5px;
}
.steps-section {
  background-color: rgba(0, 221, 184, 0.1);
  min-height: 300px;
}
.text-center {
  text-align: center;
}
.pt-50 {
  padding-top: 20px;
}
.card {
  background-color: #fff;
  padding: 10px;
}
.steps {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
.mb-200 {
  margin-bottom: 200px;
}
.pb-50 {
  padding-bottom: 50px;
}

.title {
  color: green;
}
